body {
    letter-spacing: 0.02em;
}

ul {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}