// badge
.roundPill-badge {
    border-radius: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundPill-badge-sm {
    border-radius: 100px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundPill-badge-oppCornerES {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 80px;
    padding-left: 120px;
    padding-right: 80px;
}

// swiper
.swiper-slider {
    height: auto;
    max-height: 100%;
}

//cardSwiper1 , cardSwiper3
// .cardSwiper1,
// .cardSwiper3 {
//     // border-radius: 20px;

//     .swiper-slider {
//         position: static;
//     }

//     .swiper-pagination-bullets {
//         &.swiper-pagination-horizontal {
//             bottom: -24px;
//             // top: 100%
//             top: auto;
//         }
//     }
// }

//cardSwiper2 
//navigation 定位
.cardSwiper2-prev,
.cardSwiper2-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.cardSwiper2-prev {
    left: 0;
    transform: translateX(-50%);
}

.cardSwiper2-next {
    right: 0;
    transform: translateX(50%);
}

// bannerSwiper 
.bannerSwiper {

    // overflow: clip;
    .swiper-slide {
        background-color: transparent;
    }

    img {
        height: 375px;
        object-fit: cover;

        @include media-breakpoint-up(lg) {
            height: auto;
            border-radius: 80px;
        }
    }

}

.bannerSwiper-prev,
.bannerSwiper-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.bannerSwiper-prev {
    left: 8.3%;
    transform: translateX(-50%);
}

.bannerSwiper-next {
    right: 8.3%;
    transform: translateX(50%);
}


//navigation 樣式
.square-rounded-prev,
.square-rounded-next {
    color: $primary;
    background-color: $light;
    width: 56px;
    height: 56px;
    padding: $spacer;
    border-radius: $border-radius-lg ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        color: $light;
        background-color: $primary;
    }

    &::after {
        font-family: 'Material Symbols Outlined';
        font-size: 1.5rem;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
    }
}

.square-rounded-prev::after {
    content: '\e5c4';
}

.square-rounded-next::after {
    content: '\e5c8';
}

// pagination樣式
.pill-rounded-pagination {
    text-align: center;
    opacity: 1;

    // background: rgba(0, 0, 0, 0.2);
    .swiper-pagination-bullet {
        background: $secondary-40;
    }

    .swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 100px;
        background: $primary;
    }
}