<footer class="footer">
  <div class="container">
    <div
      class="d-flex flex-column flex-md-row justify-content-between mb-md-3 mb-c4"
    >
      <img
        src="../assets/images/logo-white.png"
        alt="logo-white"
        class="footer-logo mb-c4 mb-md-0"
      />
      <ul
        class="footer-nav list-unstyled d-flex flex-column flex-md-row align-items-start align-items-md-end"
      >
        <li class="mb-3 mb-md-0 me-md-4">
          <a href="#" class="p-2">常見問題</a>
        </li>
        <li class="mb-3 mb-md-0 me-md-4">
          <a href="#" class="p-2">關於我們</a>
        </li>
        <li class="mb-3 mb-md-0 me-md-4">
          <a href="#" class="p-2">隱私權政策</a>
        </li>
        <li><a href="#" class="p-2">使用者條款</a></li>
      </ul>
    </div>
    <div
      class="d-flex flex-column flex-md-row-reverse justify-content-between align-items-md-end"
    >
      <!-- <div class="d-flex">
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center"
        >
          <img
            src="../assets/images/icons/youtube.svg"
            alt=""
            class="object-fit"
          />
        </div>
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center"
        >
          <img
            src="../assets/images/icons/line.svg"
            alt=""
            class="object-fit"
          />
        </div>
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center"
        >
          <img
            src="../assets/images/icons/facebook.svg"
            alt=""
            class="object-fit"
          />
        </div>
      </div> -->
      <div class="d-flex mb-c4-1 mb-md-0">
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center me-3"
        >
          <a href="#" class="youtubeIcon fs-5 p-3">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center me-3"
        >
          <a href="#" class="lineIcon fs-5 p-3">
            <i class="bi bi-line"></i>
          </a>
        </div>
        <div
          class="rounded-SocialIcon d-flex align-items-center justify-content-center"
        >
          <a href="#" class="facebookIcon fs-5 p-3">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </div>
      <p class="text-white">
        copyright © 2024 LEARNING 課程網站 All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
