.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 40px 0px #0068FF1A;

  @include media-breakpoint-down(md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

// logo
h1 {
  margin-bottom: 0;

  &>.logo {
    display: block;
    width: 200px;
    height: 32px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      width: 125px;
      height: 20px;
    }
  }
}

// 探索
$dropdown-exploreMenu-total-width: 860px;
$dropdown-exploreMenu-subLayer-width: 230px;

.dropdown-exploreMenu {
  // width: 100%;
  max-width: $dropdown-exploreMenu-total-width;


  &[data-bs-popper] {
    left: 216px;
  }

  .subLayer-menu {
    // width: 26%;
    width: $dropdown-exploreMenu-subLayer-width;
    max-height: calc(100vh - 250px);
    overflow-y: scroll;

    &.fistLayer,
    &.secondLayer {
      width: 230px;
    }

    &.thirdLayer {
      width: calc($dropdown-exploreMenu-total-width - $dropdown-exploreMenu-subLayer-width * 2);
    }
  }



  .dropdown-item {
    display: flex;
    justify-content: space-between;
    color: $secondary;
    padding: 12px 12px 12px 24px;
    white-space: normal;
    border-radius: $border-radius-lg;

    &:hover {
      background-color: $primary;
      color: $light;
    }
  }
}

// 搜尋
.searchForm {
  width: 425px;

  &>input {
    line-height: 1.2;
  }

}

// notification
.notifyMenu {
  width: 100%;
  max-width: 320px;
  // width: 320px;
  max-height: 300px;
  overflow-y: scroll;

  &[data-bs-popper] {
    left: auto;
    right: 100px;
  }

  .dropdown-item {
    white-space: normal;
  }

  .unread {
    background-color: $secondary-10;
  }

  .read {
    background-color: $light;
  }
}


// member Btn
.member-btn {
  img {
    height: 44px;
    width: 44px;
  }
}



// utility
.container-device-sm {
  @include media-breakpoint-down(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}