// hotCourse
.hotCourse {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    background: url('../images/deco/flower-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    width: 560px;
    position: absolute;
    left: -100px;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      height: 200px;
      width: 200px;
    }
  }
}

// 看看大家都買了什麼
.checkout {
  position: relative;

  &::before {
    @include media-breakpoint-up(md) {
      content: '';
      background-image: url('../images/deco/flower-3.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 480px;
      height: 480px;
      position: absolute;
      top: 215px;
      left: -240px;
    }
  }
}

.dec-top-left {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    background-image: url('../images/deco/flower-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -24px;
    left: -24px;
    z-index: -1;
  }
}



// 想學什麼嗎？
.roundBoard-wrapper-lg {
  max-width: 1656px;
  background-color: $primary;
  border-radius: 80px;
  padding: 80px 180px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    border-radius: 40px;
    padding-right: 4px;
    padding-left: 4px;
  }
}

.roundBoard-wrapper-sm {
  background-color: $light;
  border-radius: 20px;
  padding: 20px;

  a {
    border-radius: $border-radius-xl;

    &.webMarketing {
      background-color: #FF994F;
    }

    &.FilmCutting {
      background-color: #5E5E5E;
    }

    &.selfPromoting {
      background-color: #FF9BAD;
    }

    &.artDesign {
      background-color: #564FFD;
    }

    &.dataAnalysis {
      background-color: #54DFF2;
    }

    &.investment {
      background-color: #52E9BC;
    }

    &.music {
      background-color: #CF93FF;
    }

    &.explore {
      background-color: $primary;
    }
  }

  .courseTitle {
    color: #1D2026;
  }

  .subTitle {
    color: #6E7485;
  }
}

//頂尖講師帶你飛
.teachers {
  img {
    max-width: calc(100% - 80px);
    height: 400px;
    margin-left: 80px;
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      max-width: calc(100% - 60px);
      margin-left: 60px;
    }
  }

  .card {
    margin-right: 32px;
    margin-top: -100px;
    height: calc(100% - 300px);

    &-body {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}